<div class="container">
    <div class="message">
        <h3>Con la compra de alguna de mis fotos me ayudas a comprar una camara profesional y generar más y mejor contenido!</h3>
    </div>

    <div class="portrait">
        <img src="assets/images/contact/protrait.jpg" width="350px" class="img">
    </div>
 
    <div class="info">
        <h2>Acerca de mí</h2>
        <p>En mi tiempo libre me dedico a la jardinería, senderismo y a la fotografía. Hice esta
            página con el objetivo de difundir las fotos que tomo para transmitir un poco de la belleza
            de la naturaleza que me rodea e inspirar a más personas a cuidarla y respetarla.
        </p>
    </div>
    <div class="contact"> 
        <h2>Necesitas que tome una foto para tí? Contáctame!</h2>

    </div>
    <div class="social-media">
        <h2>Encuentráme en tus redes favoritas: </h2>
        <a href="https://www.instagram.com/m_gahu/" class="media-icon"  target="_blank">
            <span class="icon-instagram"></span>
        </a>
        <a href="https://twitter.com/marggahu" class="media-icon"  target="_blank">
            <span class="icon-twitter"></span>
        </a>
        <a href="" class="media-icon"  target="_blank">
            <span class="icon-facebook"></span>
        </a>
    </div>
</div>
