.card-container{
    display: grid;
    grid-template-columns: minmax(0, 1fr) 6fr minmax(0, 1fr);
}
.image{
    width: 100%;
    height: 100%;
}
.detail-card{
    grid-column-start: 2 / span 1;
    background-color: #475c5b;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(7, 1fr) / repeat(2, minmax(200px, 1fr));
    grid-template-areas: "photo header"
                         "photo description"
                         "photo description"
                         "photo description"
                         "photo description"
                         "photo actions"
                         "photo button";

    justify-content: center;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
}
.image-container{
    margin: 0;
    padding: 0;
    grid-area: photo;
}
.image-header{
    grid-area: header;
    text-align: center;
    padding-top: 20px;
}
.image-title{
    font-size: 30px;
}

.image-description{
    grid-area: description;
    padding: 25px;
}
.image-actions{
    grid-area: actions;

}
.detail-card button{
    grid-area: button;
}