<div class="footer-container">
    <div class="nothing"></div>

    <div class="media">
        <a href="https://github.com/magahu" class="footer-icon" target="_blank">
            <span class="icon-github"></span>
        </a>
        <a href="https://www.linkedin.com/in/margarita-garcia-huerta-3426a1168/" class="footer-icon"  target="_blank">
            <span class="icon-linkedin"></span>
        </a>
        <a href="https://twitter.com/marggahu" class="footer-icon"  target="_blank">
            <span class="icon-twitter"></span>
        </a>
        <a href="" class="footer-icon"  target="_blank">
            <span class="icon-facebook"></span>
        </a>
        <a href="https://www.instagram.com/m_gahu/" class="footer-icon"  target="_blank">
            <span class="icon-instagram"></span>
        </a>
    </div>

    <div class="nothing"></div>
  
    <div class="info">
        <small>Elaborado por Margarita Garcia Huerta</small>
    </div>
    <div class="info">
        <small>Última actualización: 22/09/20</small>
    </div>
    <div class="info">
        <small>Email: margaritagahu@gmail.com</small>
    </div>
</div>